<template>
    <link rel="stylesheet" href="./components/SideBar/SideBar.css">
    <div class="sidebar">
        <h3 class="sidebar-title">Test Scenarios</h3>
        

        <button class="sidebar-button" id="test-basic">
            <span class="button-text">Itinérarire basique</span>
        </button>

        <button class="sidebar-button" id="test-complex">
            <span class="button-text">Itinérarire avec étape</span>
        </button>
        
        <button class="sidebar-button" id="test-parisian">
            <span class="button-text">Mode parisien</span>
        </button>

        
        
    </div>
</template>